<div class="card w-75">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <form
      novalidate
      [formGroup]="participantForm"
      (ngSubmit)="saveParticipant()"
    >
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="firstNameId"
          >First name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="firstNameId"
            type="text"
            placeholder="First name"
            formControlName="firstName"
            [ngClass]="{
              'is-invalid':
                firstName.invalid &&
                (firstName.dirty || firstName.touched || submitted)
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="firstName.errors?.['required']">
              Please enter the first name.
            </span>
            <span *ngIf="firstName.errors?.['minlength']">
              First name must be at least 3 characters long.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="lastNameId"
          >Last name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="lastNameId"
            type="text"
            placeholder="Last name"
            formControlName="lastName"
            [ngClass]="{
              'is-invalid':
                lastName.invalid &&
                (lastName.dirty || lastName.touched || submitted)
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="lastName.errors?.['required']">
              Please enter the last name.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="emailId">Email</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="emailId"
            type="email"
            placeholder="Email"
            formControlName="email"
            [ngClass]="{
              'is-invalid':
                email.invalid && (email.dirty || email.touched || submitted)
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="email.errors?.['required']">
              Please enter the email address.
            </span>
            <span *ngIf="email.errors?.['email']">
              Please enter a valid email address.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button
            class="btn btn-primary me-3"
            style="width: 80px"
            type="submit"
            title="Save your entered data"
          >
            Save
          </button>
          <button
            class="btn btn-outline-secondary me-3"
            style="width: 80px"
            type="button"
            title="Cancel your entered participant data"
            [routerLink]="['/events', eventId]"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
