<div class="card w-75">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <form novalidate [formGroup]="eventForm" (ngSubmit)="saveEvent()">
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="eventNameId"
          >Event name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="eventNameId"
            type="text"
            placeholder="Event name"
            formControlName="name"
          />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="eventDescriptionId"
          >Event description</label
        >
        <div class="col-md-8">
          <textarea
            class="form-control"
            id="eventDescriptionId"
            placeholder="Event description"
            formControlName="description"
          ></textarea>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="eventThemeId"
          >Event theme</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="eventThemeId"
            type="text"
            placeholder="Event theme"
            formControlName="theme"
          />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="eventDuration"
          >Duration in minutes</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="eventDuration"
            type="number"
            placeholder="Duration in minutes"
            formControlName="durationInMinutes"
          />
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button
            class="btn btn-primary me-3"
            style="width: 80px"
            type="submit"
          >
            Save
          </button>
          <button
            class="btn btn-outline-secondary me-3"
            style="width: 80px"
            type="button"
            title="Cancel your saved event"
            [routerLink]="['/events']"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
