<div class="card w-75">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body" *ngIf="event">
    <form [formGroup]="eventForm" (ngSubmit)="updateEvent()" novalidate>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="eventNameId"
          >Event name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="eventNameId"
            type="text"
            placeholder="Event name"
            formControlName="name"
            [ngClass]="{
              'is-invalid': displayMessage['name']
            }"
          />
          <span class="invalid-feedback">
            <span>
              {{ displayMessage["name"] }}
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="eventDescriptionId"
          >Event description</label
        >
        <div class="col-md-8">
          <textarea
            class="form-control"
            id="eventDescriptionId"
            placeholder="Event description"
            formControlName="description"
            [ngClass]="{
              'is-invalid': displayMessage['description']
            }"
          ></textarea>
          <span class="invalid-feedback">
            <span>
              {{ displayMessage["description"] }}
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="eventThemeId"
          >Event theme</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="eventThemeId"
            type="text"
            placeholder="Event theme"
            formControlName="theme"
            [ngClass]="{
              'is-invalid': displayMessage['theme']
            }"
          />
          <span class="invalid-feedback">
            <span>
              {{ displayMessage["theme"] }}
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="eventDuration"
          >Duration in minutes</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="eventDuration"
            type="number"
            placeholder="Duration in minutes"
            formControlName="durationInMinutes"
            [ngClass]="{
              'is-invalid': displayMessage['durationInMinutes']
            }"
          />
          <span class="invalid-feedback">
            <span>
              {{ displayMessage["durationInMinutes"] }}
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button
            class="btn btn-primary me-3"
            style="width: 80px"
            type="submit"
            [title]="
              eventForm.valid
                ? 'Save your entered data'
                : 'Disabled until the form data is valid'
            "
            [disabled]="!eventForm.valid"
          >
            Save
          </button>
          <button
            class="btn btn-outline-secondary me-3"
            style="width: 80px"
            type="button"
            title="Cancel your edits"
            [routerLink]="['/events']"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
