<div class="card w-75">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <form [formGroup]="eventForm" (ngSubmit)="updateEvent()" novalidate>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="eventNameId"
          >Event name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="eventNameId"
            type="text"
            placeholder="Event name"
            formControlName="name"
            [ngClass]="{
              'is-invalid':
                name.invalid && (name.dirty || name.touched || submitted)
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="name.errors?.['required']">
              Please enter the event name.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="eventDescriptionId"
          >Event description</label
        >
        <div class="col-md-8">
          <textarea
            class="form-control"
            id="eventDescriptionId"
            placeholder="Event description"
            formControlName="description"
            [ngClass]="{
              'is-invalid':
                description.invalid && (name.dirty || name.touched || submitted)
            }"
          ></textarea>
          <span class="invalid-feedback">
            <span *ngIf="description.errors?.['required']">
              Please enter the event description.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="eventThemeId"
          >Event theme</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="eventThemeId"
            type="text"
            placeholder="Event theme"
            formControlName="theme"
            [ngClass]="{
              'is-invalid':
                theme.invalid && (theme.dirty || theme.touched || submitted)
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="theme.errors?.['required']">
              Please enter the event theme.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="eventDuration"
          >Duration in minutes</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="eventDuration"
            type="number"
            placeholder="Duration in minutes"
            formControlName="durationInMinutes"
            [ngClass]="{
              'is-invalid':
                durationInMinutes.invalid &&
                (durationInMinutes.dirty ||
                  durationInMinutes.touched ||
                  submitted)
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="durationInMinutes.errors?.['required']">
              Please enter the event duration.
            </span>
            <span *ngIf="durationInMinutes.errors?.['min']">
              Event duration cannot be 0.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button
            class="btn btn-primary me-3"
            style="width: 80px"
            type="submit"
          >
            Save
          </button>
          <button
            class="btn btn-outline-secondary me-3"
            style="width: 80px"
            type="button"
            title="Cancel your edits"
            [routerLink]="['/events']"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
